# Lazarus .gitignore

# binaries
#*.exe  # commented out, as i want to choose per file.
*.dll
*.so
*.apk
*.lib
*.a
*.o
*.ocx

# Lazarus local files
backup
lib

# project specific
ff*.exe
yt-dlp.exe
Lazarus2YTDL.dbg
